# Virtual environment
venv/
env/
.venv/

# Model files (sudah di HuggingFace Hub)
model/
*.safetensors
*.bin
distilbert_btc_final.zip

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/
*.swp

# Streamlit
.streamlit/secrets.toml

# Test outputs
*.log
sentiment_results_*.csv
